<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing Page</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/basis.css">
</head>

<body>
    <div class="header">
        <div class="head">
            <h1 class="headline">Ihr Dashboard</h1>
            <!-- Logout Button -->
            <div id="logout">
                <a href="/users/logout" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </div>
        </div>
        <!-- Status und Vollmacht Anzeige -->
        <div class="status-bar">
            <div class="selection">
                <label for="Mandant">Mandanten/Steuerberater:</label>
                <!-- <form action="/select_mandant_steuerberater" method="POST"> -->
                <div class="choose">
                    <form action="/select_mandant/finanzamt" method="POST">
                        <select name="mandant" id="md">
                            <option>Mandanten/Steuerberater</option>
                        </select>
                        <button type="submit">Auswählen</button>
                    </form>
                </div>
                <!-- </form> -->
            </div>
            <div class="vollmacht" id="vollmacht">
                <h3>Vollmächte:</h3>
            </div>
            <div class="status" id="status">
                <h3>Status:</h3>
            </div>
        </div>
    </div>

    <div class="display">
        <div class="messages">
            <form action="/send_text_steuerberater" method=POST>
                <div class="clienthead">
                    <h2 id="M-Name1">Mandant_x</h2>
                    <div class="client">
                        <div class="recipient">
                            <label for="recipient">Empfänger:</label>
                            <select name="recipient" id="res">
                                <option value="Mandant">Mandant</option>
                                <option value="Finanzamt">Finanzamt</option>
                                <option value="Broadcast">An alle</option>
                            </select>
                        </div>
                        <div class="choose">
                            <label for="Mandant">Mandanten:</label>
                            <select name="mandant" id="md2">
                                <option>Mandanten</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- main chat section -->
                <div class="chats" id="chat">
                    <div class="client-chat" id="client-chat">
                        Client Chat!
                    </div>
                    <div class="my-chat" id="my-chat">
                        MY Chat!
                    </div>
                </div>

                <!-- Input field to send messages -->
                <div class="send_message">

                    <div class="chat-input">
                        <input name="message" type="text" placeholder="Nachricht">
                        <button class="send-btn" type="submit">
                            <img src="/img/send.jpg" alt="send-btn">
                        </button>
                    </div>

                </div>
            </form>
        </div>



        <div class="documents">
            <form action="/upload-file-steuerberater" method="POST" enctype="multipart/form-data">
                <div class="clienthead">
                    <h2 id="M-Name2">Mandant_x</h2>
                    <div class="client">
                        <div class="recipient">
                            <label for="recipient">Empfänger:</label>
                            <select name="recipient" id="res">
                                <option value="Mandant">Mandant</option>
                                <option value="Finanzamt">Finanzamt</option>
                                <option value="Broadcast">An alle</option>
                            </select>
                        </div>
                        <div class="choose">
                            <label for="Mandant">Mandanten:</label>
                            <select name="mandant" id="md3">
                                <option>Mandanten</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="select-file">
                    <div class="docs_type">
                        <label for="Mandant">Dokummentenart:</label>
                        <select name="document_type" id="doc_type">
                            <option>Steuererklärung</option>
                            <option>Steuerbescheid</option>
                        </select>
                    </div>
                    <div class="fselect">
                        <input type="file" name="file" class="file-input">
                        <button class="send-btn" type="submit">
                            <img src="/img/cloud.png" alt="send-file-btn">
                        </button>
                    </div>

                </div>
            </form>
            <div id="display_files"></div>
        </div>
    </div>
</body>

<script src="/scripts/socket.js"></script>

</html>