<!DOCTYPE html>
<html lang="de">

<head>

</head>
    <h1 class="headline">Ihr Dashboard</h1>
        
    <ul class="navbar">
        <a href="/users/register">Registrieren</a>
        <br>
        <a href="/users/login">Login</a>
    </ul>

<body>
    
</body>

<script>
    
</script>