<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing Page</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/steuerberater02.css">
</head>

<body>

    <div class="header">
        <div class="head">
            <h1 class="headline">Ihr Dashboard</h1>
            <a href="/users/logout" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
        </div>
        <div class="status">
            <div class="m_sel">
                <label for="Steuerberater">Steuerberater:</label>
                <form action="/select_steuerberater_mandant" method="POST">
                    <div class="choose-mandant">
                        <select name="steuerberater" id="sb">
                            <option>Steuerberater_01</option>
                        </select>
                        <button>Auswählen</button>
                    </div>
                </form>
            </div>
            <div class="vollmacht" id="vollmacht">
                <h2>Vollmächte:</h2>
            </div>
            <div class="state" id="status">
                <h2>Status:</h2>
            </div>
            <div class="n_step">
                <p id="next_step" class="next_step">Bitte wählen Sie einen Steuerberater oder senden Sie ihre
                    Unterlagen/Steuererklärung
                    an das
                    Finanzamt</p>
            </div>
        </div>
    </div>


    <div class="sender">
        <!-- Send messages to the blockchain -->
        <div class="send_messages">
            <div class="display">
                <!-- Display Messages -->
                <div class="message_handler">
                    <form action="/send_text_mandant" method=POST>
                        <div class="msg">
                            <!-- Client -->
                            <div class="client">
                                <div class="client-info">
                                    <h2 id="h_sb">Steuerberater_xy:</h2>
                                    <!-- Empfänger -->
                                    <label for="recipient">Empfänger:</label>
                                    <select name="recipient" id="res">
                                        <option value="Berater">Steuerberater</option>
                                        <option value="Finanzamt">Finanzamt</option>
                                        <option value="Broadcast">An alle</option>
                                    </select>
                                    <div class="choose">
                                        <!-- <p>online</p> -->
                                        <label for="Mandant">Steuerberater:</label>
                                        <select name="mandant" id="sb1">
                                            <option>Mandanten</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <!-- main chat section -->
                            <div class="chats" id="chat">
                                <div class="client-chat" id="client-chat">
                                    Client Chat!
                                </div>
                                <div class="my-chat" id="my-chat">
                                    MY Chat!
                                </div>
                            </div>
                            <!-- Input field to send messages -->
                            <div class="chat-input">
                                <input name="message" type="text" placeholder="Nachricht">
                                <button class="send-btn" type="submit">
                                    <img src="/img/send.jpg" alt="send-btn">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="document-handler">
                    <!-- Send Files to the Blockchain 
                    direkt hinter file kann noch multiple gestellt werde -->
                    <form action="/upload-file-mandant" method="POST" enctype="multipart/form-data">
                        <div class="client">
                            <div class="client-info">
                                <h2 id="h_sb2">Steuerberater_xy:</h2>
                                <div class="choose">
                                    <!-- <p>online</p> -->
                                    <label for="Mandant">Empfänger:</label>
                                    <select name="recipient" id="sb2">
                                        <option>Steuerberater</option>
                                        <option>Finanzamt</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="select-file">
                            <div class="docs_type">
                                <label for="Mandant">Dokummentenart:</label>
                                <select name="document_type" id="md">
                                    <option>Unterlagen</option>
                                    <option>Steuererklärung</option>
                                </select>
                            </div>
                            <input type="file" name="file" class="file">
                            <button class="send-btn" type="submit">
                                <img src="/img/cloud.png" alt="send-btn">
                            </button>
                        </div>
                    </form>

                    <div class="disfiles" id="display_files">
                    </div>
                </div>




                <div class="select_vollmacht">
                    <form name="s_form">
                        <div class="vollmacht">
                            <div class="setA">
                                <button type="button" onclick="sicherheitsabfrage(this, 'setAllg')">Allgemeine Vollmacht
                                    ausstellen</button>
                            </div>
                            <div class="setE">
                                <button type="button" onclick="sicherheitsabfrage(this, 'setEmpf')">Empfangsvollmacht
                                    ausstellen</button>
                            </div>
                            <div class="cancelA">
                                <button type="button" onclick="sicherheitsabfrage(this, 'cancelAllg')">Allgemeine
                                    Vollmacht
                                    Widerrufen</button>
                            </div>
                            <div class="cancelE">
                                <button type="button" onclick="sicherheitsabfrage(this, 'cancelEmpf')">Empfangsvollmacht
                                    Widerrufen</button>
                            </div>
                            <div id="div_error">
                                <p id="error">

                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/scripts/socket.js"></script>
    <script src="/scripts/vollmacht.js"></script>

    <!-- Für Typescript benötigt  -->
    <!-- Brauch ich die überhaupt???? -->
    <script>var exports = {};</script>
    <script src="https://rawgit.com/Microsoft/TypeScript/master/lib/typescriptServices.js"></script>
    <script src="https://rawgit.com/basarat/typescript-script/master/transpiler.js"></script>
    </div>


</body>


</html>