<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing Page</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/steuerberater02.css">
    <!-- <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <div class="header">
        <div class="head">
            <h1 class="headline">Ihr Dashboard</h1>
            <a href="/users/logout" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
        </div>
        <div class="status">
            <div class="m_sel">
                <label for="Mandant">Mandanten:</label>
                <form action="/select_mandant_steuerberater" method="POST">
                    <div class="choose-mandant">
                        <select name="mandant" id="md3">
                            <option>Mandanten</option>
                        </select>
                        <button>Auswählen</button>
                    </div>
                </form>
            </div>
            <div class="vollmacht" id="vollmacht">
                <h2>Vollmächte:</h2>
                <h3>Test</h3>
            </div>
            <div class="state" id="status">
                <h2>Status:</h2>
                <h3>Test</h3>
            </div>
            <div class="next_step">
                <p id="next_step"></p>
            </div>
        </div>
    </div>

    <div class="sender">
        <!-- Send messages to the blockchain -->
        <div class="send_messages">
            <div class="display">
                <!-- Display Messages -->
                <div class="message_handler">
                    <form action="/send_text_steuerberater" method=POST>
                        <div class="msg">
                            <!-- Client -->
                            <div class="client">
                                <div class="client-info">
                                    <h2 id="M-Name1">Mandant_x</h2>
                                    <!-- Empfänger -->
                                    <label for="recipient">Empfänger:</label>
                                    <select name="recipient" id="res">
                                        <option value="Mandant">Mandant</option>
                                        <option value="Finanzamt">Finanzamt</option>
                                        <option value="Broadcast">An alle</option>
                                    </select>
                                    <div class="choose">
                                        <!-- <p>online</p> -->
                                        <label for="Mandant">Mandanten:</label>
                                        <select name="mandant" id="md">
                                            <option>Mandanten</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <!-- main chat section -->
                            <div class="chats" id="chat">
                                <div class="client-chat" id="client-chat">
                                    Client Chat!
                                </div>
                                <div class="my-chat" id="my-chat">
                                    MY Chat!
                                </div>
                            </div>
                            <!-- Input field to send messages -->
                            <div class="chat-input">
                                <input name="message" type="text" placeholder="Nachricht">
                                <button class="send-btn" type="submit">
                                    <img src="/img/send.jpg" alt="send-btn">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="document-handler">
                    <!-- Send Files to the Blockchain 
                    direkt hinter file kann noch multiple gestellt werde -->
                    <form action="/upload-file-steuerberater" method="POST" enctype="multipart/form-data">
                        <div class="client">
                            <div class="client-info">
                                <h2 id="M-Name2">Mandant_x</h2>
                                <!-- Empfänger -->
                                <!-- <label for="recipient">Empfänger:</label>
                                <select name="recipient" id="res">
                                    <option value="Mandant">Mandant</option>
                                    <option value="Finanzamt">Finanzamt</option>
                                    <option value="Broadcast">An alle</option>
                                </select> -->
                                <div class="choose">
                                    <!-- <p>online</p> -->
                                    <label for="Mandant">Mandanten:</label>
                                    <select name="mandant" id="md2">
                                        <option>Mandanten</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="select-file">
                            <div class="docs_type">
                                <label for="Mandant">Dokummentenart:</label>
                                <select name="document_type" id="doc_type">
                                    <option>Steuererklärung</option>
                                    <option>Steuerbescheid</option>
                                </select>
                            </div>
                            <input type="file" name="file" class="file">
                            <button class="send-btn" type="submit">
                                <img src="/img/cloud.png" alt="send-btn">
                            </button>
                        </div>
                    </form>

                    <div class="display_files" id="display_files">
                    </div>
                </div>

            </div>

        </div>


    </div>




    </div>
    </div>


    </div>

    <script src="/scripts/socket.js"></script>
    <!-- Für Typescript benötigt  -->
    <!-- Brauch ich die überhaupt???? -->
    <script>var exports = {};</script>
    <script src="https://rawgit.com/Microsoft/TypeScript/master/lib/typescriptServices.js"></script>
    <script src="https://rawgit.com/basarat/typescript-script/master/transpiler.js"></script>



</body>


</html>