body {}

/* Gesamter Kopf */
.header {
    background-color: gray;
    color: #000;
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 5px;
}

/* Titel und Logout */
.head {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

/* Statusbar */
.status-bar {
    margin: 15px;
    display: flex;
}

.status-bar>div {
    width: 600px;
    margin-right: 5px;
}

/* Selection */
.status-bar .selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.status-bar label {
    font-size: 1.3em;
}

/* Vollmächte */
.status-bar .vollmacht {
    margin: 5px;
    display: flex;
    align-items: center;
}

/* Status */
.status-bar .status {
    margin: 5px;
    display: flex;
    align-items: center;
}

.status-bar select {
    width: 200px;
}

/* Senden von Nachrichten und Dokumenten */

.display {
    height: 600px;
    margin-top: 200px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex
}

/* Nachrichten Chat */
.messages {
    width: 50%;
    margin-right: 15px;
}

.messages h2 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 15px;
}

/* 4 Elemente: ClientName, Empfängerlabel, selection, choose */
.client {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 15px;
}

.clienthead {
    border: 2px solid lightskyblue;
    border-radius: 15px 15px 0 0;
    background-color: lightskyblue;
}

.client .recipient {
    margin-left: 15px;
}

.client .choose {
    margin-right: 15px;
}

.client label {
    font-size: 20px;
    margin-right: 15px;
}

.client select {
    width: 200px;
}

/* chat section */
.chats {
    background-color: lightgray;
    height: 400px;
    width: 100%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 1.2em;
    overflow: scroll;
}

.client-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #4f5d73c7;
    padding: 7px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.my-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #77b3d4c7;
    padding: 7px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}

.chat-input {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 790px;
    height: 65px;
    padding: 15px;
}

.chat-input input {
    width: 700px;
    height: 100%;
    background-color: #4f5d7321;
    border-radius: 50px;
    color: #000;
    font-size: 1.2em;
    padding: 0 15px;
}

.send-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
}

.send-btn img {
    width: 100%;
    height: 100%;
}


.documents {
    width: 50%;
}

.documents h2 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 15px;
}

.select-file {
    background-color: lightgray;
    height: 400px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.docs_type {
    height: 50px;
    display: flex;
    align-items: center;
}

.docs_type label {
    font-size: 20px;
    margin-right: 15px;
}

.docs_type select {
    width: 150px;
    margin-right: 10px;
}

.fselect {
    display: flex;
    margin-top: 15px;
}

.fselect input {
    width: 200px;
}