@import url('https://fonts.googleapi.com/css2?family=Poppins:wght@400;500;600&display=swapt');

body {}

.header {
    background-color: gray;
    color: #000;
    height: 200px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.head h1 {
    margin-top: 15px;
    margin-left: 15px;
}

.head a {
    margin-top: 15px;
    margin-right: 15px;
}

.status {
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
}


.status .m_sel select {
    color: #000;
    height: 35px;
    width: 60%;
    margin: 0 0 15px 15px;
}

.status .m_sel label {
    font-size: 25px;
    color: #000;
    height: 35px;
    width: 75%;
    margin: 15px 0 0 15px;
    font-weight: normal;
}

.status .m_sel {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status .m_sel .choose-mandant {
    display: flex;
    justify-content: space-between;
}

.status .m_sel .choose-mandant button {
    margin-right: 15px;
    margin-bottom: 15px;
}

.status .vollmacht {
    width: 400px;
}

.status .vollmacht h2 {
    font-size: 25px;
    margin-top: 15px;
    margin-left: 15px;
}

.status .vollmacht h3 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.status .state {
    width: 400px;
}

.status .state h2 {
    font-size: 25px;
    margin-top: 15px;
    margin-left: 15px;
}

.status .state h3 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
}







.display {
    display: flex;
}

.msg {
    width: 500px;
    height: 600px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

/* About Client */
.client {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 125px;
    background-color: #5bc0de;
    position: relative;
    border-radius: 15px 15px 0 0;
}

.client-info {
    display: flex;
    color: #000;
    /* background-color: green; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.client-info h2 {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-info label {
    font-weight: lighter;
    color: #000;
    position: absolute;
    font-size: 20px;
    bottom: 45px;
    margin-left: 5px;
}

.client-info select {
    color: #000;
    position: absolute;
    left: 0;
    height: 30%;
    bottom: 5px;
    width: 45%;
    margin-left: 5px;
}

.choose {
    display: flex;
    /* background-color: purple; */
    position: absolute;
    right: 5px;
    width: 50%;
    height: 100%;

}

.choose p {
    color: #008000;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    bottom: 25px;
}

.choose select {
    color: #000;
    position: absolute;
    right: 0;
    height: 30%;
    bottom: 5px;
    width: 95%;
}

.choose label[for=mandant] {
    font-weight: lighter;
    color: #000;
    position: absolute;
    font-size: 20px;
    bottom: 45px;
}




/* chat section */
.chats {
    background-color: lightgray;
    height: 500px;
    width: 100%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 0.9em;
    overflow: scroll;
    margin-bottom: 10px;
}

.client-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #4f5d73c7;
    padding: 7px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.my-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #77b3d4c7;
    padding: 7px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}

/* input section */
.chat-input {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 500px;
    height: 65px;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.chat-input input {
    width: 450px;
    height: 100%;
    background-color: #4f5d7321;
    border-radius: 50px;
    color: #000;
    font-size: 1.2em;
    padding: 0 15px;
}

.send-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
}


.send-btn img {
    width: 100%;
    height: 100%;
}



.docs {
    width: 400px;
    height: 450px;
    background-color: red;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

/* Dokumenten Upload */

.document-handler {
    margin-left: 5px;
    width: 500px;
    height: 300px;
}

.select-file {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    height: 200px;
}

.select-file .send-btn {
    width: 75px;
    height: 50px;
    margin-top: 15px;
    margin-right: 15px;
}

.select-file .file {
    margin-top: 25px;
    margin-left: 15px;
}

.disfiles {
    background-color: yellow;
}